/* hide register button */
button.mat-focus-indicator.button.get-tickets-button.mat-raised-button.mat-button-base.ng-star-inserted {
    display: none;
}

/* hide register button */
button.mat-focus-indicator.action-button.get-tickets-button.mat-raised-button.mat-button-base.ng-star-inserted {
    display:none;
}

/* change color of calendar day icon */
.event-keyword.ng-star-inserted {
    color: #25e4de;
}

/* Hide closed icon on event page */
.floating-label.desktop.ng-star-inserted {
    display: none;
}

/* Registration confirmation message size */
h1.ng-star-inserted {
    font-size: larger;
}

/* Hide price on event listing */
.product-item__price.ng-star-inserted {
    display: none;
}



/* change color of calendar day icon on calendar list view */
.bt-date-badge__month {
   background-color: #25e4de !important;
   color: #1F2937 !important;
}
 

/* change color of price background on calendar list view */
.product-item__price {
   background-color: #5BA55E  !important;
}

