/* hide register button */
button.mat-focus-indicator.button.get-tickets-button.mat-raised-button.mat-button-base.ng-star-inserted {
    display: none;
}

/* hide register button */
button.mat-focus-indicator.action-button.get-tickets-button.mat-raised-button.mat-button-base.ng-star-inserted {
    display:none;
}

/* change color of calendar day icon */
.event-keyword.ng-star-inserted {
    color: green;
}

/* Hide closed icon on event page */
.floating-label.desktop.ng-star-inserted {
    display: none;
}

/* Registration confirmation message size */
h1.ng-star-inserted {
    font-size: larger;
}

/* Hide price on event page */
span.ng-star-inserted {
    display: none;
}

/* Hide price on calendar page */
.product-item__price.ng-star-inserted {
    display: none;
}

